.hr-dashboard {
    display: flex;
    height: 80vh;
    flex-direction: column;
    width: 95%;
    margin: 0 auto; /* C0enter the dashboard */
    padding: 2%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); 
    gap: 2%; /* Space between charts */
    height: 70%;
  }
  
  .chart-item {
    padding: 2%;
    height: 82%; /* Adjust to fit chart content */
  }

  .chart-item canvas {
    width: 100%; 
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  