.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh; /* Set to 8vh as requested */
    background: linear-gradient(135deg, #f76c6c, #f8a5c2); /* Matches the color scheme */
    padding: 0 20px; /* Adds horizontal padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.NavbarLeft {
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: center;
}

.NavbarLogo {
    height: 60%; /* Adjust as needed */
    margin-right: 10px;
    cursor: pointer;
}

.NavbarTitle {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.NavbarRight {
    display: flex;
    align-items: center;
}

.NavbarIcon {
    font-size: 2em;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s;
}

.NavbarIcon:hover {
    color: #dbdada /* Slight color change on hover */
}

/* Modal styling */
.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: #ffffff; /* White background for contrast */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 60%; /* Adjust to ensure it scales properly */
    height: auto;
    overflow-y: auto; /* Allow scrolling if content is too large */
}

/* Overlay styling */
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Darker overlay for contrast */
}

/* Close button styling */
.modal-close-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #f76c6c; /* Matches the color scheme */
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-close-button:hover {
    background-color: #f8a5c2; /* Slightly lighter color on hover */
}


